WG_INTERFACE=wg0
WG_PORT=51820
WG_SERVER_HOST=172.16.53.135
WG_SERVER_NET=10.8.0.0/24
WG_DEFAULT_DNS=1.1.1.1
API_AUTH_TOKEN=replace-with-a-long-random-token
API_HOST=0.0.0.0
API_PORT=8080
WG_PERSISTENT_KEEPALIVE=25
WG_OUTBOUND_INTERFACE=enp2s0
ALLOW_INSECURE_HTTP=true
API_ALLOWED_CIDRS=172.16.53.0/24
API_DOCS_ENABLED=false
